@import '../../styles/variables.module.scss';

.input {
  border       : 1px solid rgba(black, .5);
  line-height  : 40px;
  border-radius: $borderRadiusTertiary;
  padding      : 0px 10px;

  &:focus {
    outline-color: $primaryColor;
  }
}
