@import '../../styles/variables.module.scss';

.forgot {
  display        : flex;
  justify-content: flex-end;

  p {
    font-size      : $fontSize12;
    text-decoration: none;
    margin-bottom  : 20px;
    text-align     : end;
    color          : $primaryColor;

    &:hover {
      cursor         : pointer;
      text-decoration: underline;
    }
  }
}

.toSignup {
  font-size: $fontSize12;
  color    : $commonTextColor;

  a {
    text-decoration: none;
    color          : $primaryColor;
    font-size      : $fontSize12;

    &:hover {
      text-decoration: underline;
    }
  }
}
