@import '../../styles/variables.module.scss';

* {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size  : 14px;
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
}

body {
  background-color: $backgroundLight;
}

button {
  background-color: $primaryColor;
  color           : $white;
  border-radius   : $borderRadiusTertiary;
  font-size       : 16px;
  border          : none;
  line-height     : 30px;

  &:hover {
    opacity: 0.9;
    cursor : pointer;
  }
}

input[type='password'],
input[type=email] {
  border       : 1px solid rgba($black, .5);
  line-height  : 40px;
  border-radius: $borderRadiusTertiary;
  padding      : 0px 10px;

  &:focus {
    outline-color: $primaryColor;
  }
}

.loginWrap {
  display         : flex;
  flex-direction  : column;
  height          : 100vh;
  justify-content : center;
  background-color: $backgroundLight;

  .form {
    display         : flex;
    flex-direction  : column;
    background-color: $white;
    width           : 450px;
    height          : fit-content;
    padding         : 40px;
    align-self      : center;
    box-shadow      : $boxShadow;
    border-radius   : $borderRadiusSecondary;

    .inputWrap {
      display       : flex;
      flex-direction: column;
      margin-bottom : 10px;

      label {
        margin-bottom: 5px;
        font-weight  : 700;
        font-size    : 13px;
        color        : rgba($black, .6);
      }
    }

    .forgot {
      font-size      : 12px;
      text-decoration: none;
      margin-bottom  : 20px;
      text-align     : end;
      color          : $primaryColor;
    }

    .button {
      margin-bottom: 10px;
    }

    p {
      font-size: 12px;
      color    : rgba($black, .6);

      a {
        text-decoration: none;
        color          : $primaryColor;
        font-size      : 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    .errorWrap {
      display       : flex;
      flex-direction: column;
      align-items   : center;

      .spinner {
        margin-top: 30px;
      }

      .error {
        margin-top: 30px;
      }
    }
  }
}
