@import '../../styles/variables.module.scss';

.loginWrap {
  display         : flex;
  flex-direction  : column;
  height          : 100vh;
  justify-content : center;
  background-color: $backgroundLight;

  .form {
    display         : flex;
    flex-direction  : column;
    background-color: white;
    width           : 450px;
    height          : fit-content;
    padding         : 40px;
    align-self      : center;
    box-shadow      : $boxShadow;
    border-radius   : $borderRadiusSecondary;

    .forgot {
      font-size      : 12px;
      text-decoration: none;
      margin-bottom  : 20px;
      text-align     : end;
      color          : $primaryColor;
      cursor         : pointer;
    }

    .submit {
      margin-bottom: 10px;

      &:disabled {
        background-color: $disabledBackground;
        color           : $disabledColor;

        &:hover {
          opacity: 1;
          cursor : default;
        }
      }
    }

    p {
      font-size: 12px;
      color    : rgba(black, .6);

      a {
        text-decoration: none;
        color          : $primaryColor;
        font-size      : 12px;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
