@import '../../../../styles/variables.module.scss';

.modalWrap {
  --background   : white;
  --max-height   : 50%;
  --max-width    : 478px;
  --border-radius: 16px;

  .formForgot {
    height         : 100%;
    width          : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: center;
    padding        : 0 5%;

    .title {
      color      : $commonTextColor;
      font-size  : $fontSize30;
      text-align : center;
      font-weight: 600;
      margin     : 25px 0;
      padding    : 0;
      line-height: 40px;
      display    : block;
    }

    .label {
      color        : $commonTextColor;
      font-size    : $fontSize16;
      font-weight  : 300;
      text-align   : center;
      float        : none;
      margin-bottom: 10px;
      padding      : 0;
      line-height  : normal;
    }

    .input {
      margin-bottom: 20px;
    }

    .buttonsWrap {
      width          : 100%;
      display        : flex;
      flex-direction : row;
      justify-content: center;

      .cancel,
      .send {
        font-family     : 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size       : $fontSize16;
        font-weight     : 500;
        text-transform  : uppercase;
        padding         : 3px 20px;
        background-color: inherit;
        color           : $commonTextColor;
        border          : 1px solid $disabledBackground;
        margin-right    : 10px;
      }

      .send {
        border          : none;
        margin-right    : 0;
        background-color: $primaryColor;
        color           : $white;
      }
    }
  }
}
