@import './variables.module.scss';
@import './font-awesome.module.scss';

@import '@ionic/react/css/core.css';
@import '@ionic/react/css/normalize.css';
@import '@ionic/react/css/structure.css';
@import '@ionic/react/css/typography.css';
@import '@ionic/react/css/padding.css';
@import '@ionic/react/css/float-elements.css';
@import '@ionic/react/css/text-alignment.css';
@import '@ionic/react/css/text-transformation.css';
@import '@ionic/react/css/flex-utils.css';
@import '@ionic/react/css/display.css';

@include font-awesome;

* {
  font-family: 'Inter', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size  : 14px;
  padding    : 0;
  margin     : 0;
  box-sizing : border-box;
}

body {
  background-color: $backgroundLight;
}

input[type='password'],
input[type=email] {
  border       : 1px solid rgba(black, .5);
  line-height  : 40px;
  border-radius: $borderRadiusTertiary;
  padding      : 0px 10px;

  &:focus {
    outline-color: $primaryColor;
  }
}
