$primaryColor : #415db9;

$backgroundLight : #f8fafb;

$borderRadiusPrimary  : 4px;
$borderRadiusSecondary: 8px;
$borderRadiusTertiary : 16px;

$boxShadow : 6px 6px 5px 0px rgba(black, .3);

$disabledBackground: #ccc;
$disabledColor     : rgba(black, .4);
